{extend name='public/base' /}

{block name='seo' /}
<title>{$title|default='云你所想'}</title>
{/block}


{block name='content' /}
<div id="content" class="container-fluid">
    <nav class="navbar navbar-expand-sm  navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">全部文档</a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">TXT</a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">DOC</a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">XLS</a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">PPT</a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#">PDF</a>
            </li>
        </ul>
    </nav>
    <table class="table table-hover" id="table">
        <caption>共x项</caption>
        <thead>
        <tr>
            <th id="numcheckbox" style="width: 6%" ><span class="iconfont icon-duoxuankuang1 num-check" data-ischeck=""></span></th>
            <th scope="col" class="sortth" style="max-width: 40%" type="string">名称</th>
            <th scope="col" class="sortth" style="width: 30%" type="time">创建时间</th>
            <th scope="col" class="sortth" style="width: 24%" type="size">大小</th>
        </tr>
        </thead>
        <tbody>

        <tr class="tr-file" data-userFileId="100">
            <td>
                <div></div>
                <span class="icon iconfont icon-wenjianjia color-sblue file-icon-size"></span>
                <a href="javascript:void(0)" class="" data-fileid="100" title='文档标题'><span>文档1</span></a>
            </td>
            <td>2019-05-02 11:44:17</td>
            <td data-size="1000000">1GB</td>
        </tr>
        <tr class="tr-file" data-userFileId="100">
            <td>
                <div></div>
                <span class="icon iconfont icon-wenjianjia color-sblue file-icon-size"></span>
                <a href="javascript:void(0)" class="" data-fileid="100" title='文档标题'><span>文档2</span></a>
            </td>
            <td>2019-05-02 11:43:17</td>
            <td data-size="2000000">2GB</td>
        </tr>
        <tr class="tr-file" data-userFileId="100">
            <td>
                <div></div>
                <span class="icon iconfont icon-wenjianjia color-sblue file-icon-size"></span>
                <a href="javascript:void(0)" class="" data-fileid="100" title='文档标题'><span>文档1.5</span></a>
            </td>
            <td>2019-05-01 11:43:17</td>
            <td data-size="500000">0.5GB</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<!-- /#page-content-wrapper -->
</div>
{/block}



{block name='js'}
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>
