<!--_footer 作为公共模版分离出去-->


<!-- Bootstrap与jQuery的引入 -->
<script type="text/javascript" src="__STATIC__/jquery/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap4.1.0/js/bootstrap.bundle.min.js"></script>

<!-- 加载layer插件。-->
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>

<!-- iconfont -->
<script type="text/javascript" src="__STATIC__/res/js/iconfont.js"></script>

<!-- 公用自定义 Script -->
<script type="text/javascript" src="__STATIC__/res/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/res/js/home/simple_home.js"></script>
<script type="text/javascript" src="__STATIC__/res/js/home/test.js"></script>
<script type="text/javascript" src="__STATIC__/res/js/recycle.js"></script>

<!--/_footer /作为公共模版分离出去-->