<!--_meta 作为公共模版分离出去-->
<!DOCTYPE html>
<html style="font-size: 16px">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 引入Bootstrap -->
    <link href="__STATIC__/bootstrap4.1.0/css/bootstrap.min.css" rel="stylesheet" />

    <!-- 引入字体文件 -->
    <link href="__STATIC__/res/iconfont/iconfont.css" rel="stylesheet">

    <!-- Bootstrap Fileinput -->
    <link rel="stylesheet" href="__STATIC__/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="__STATIC__/bootstrap-fileinput/themes/explorer-fa/theme.css">

    <!-- 引入自定义样式 -->
    <link href="__STATIC__/res/css/home/simple-sidebar.css" rel="stylesheet">
    <!--/meta 作为公共模版分离出去-->